
<body style="background-color: rgb(227, 248, 227);">
<style>
    .title {
      font-family: "Lucida Console", "Courier New", monospace;
      font-size: 40px;
      text-align: center;
      color: rgb(255, 255, 255);
      text-shadow: 4px 4px 6px #000000;
  }
    .centered{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
  }
    .button {
      background-color: #4CAF50; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
</style>
<p class="title">TESTE CULTURA GENERALA</p>
</br>
</br>
<img src="/images/pentruIndex.jpg" alt="indexpic"  class="centered"> 
</br>
</br>
</br>
</br>
<form action="/autentificare" method="GET">
    <input class="button button2" type="submit" value="Autentificare">
</form>
</br>
<p style="text-align: center;">Nu ai cont?</p>
</br>
<form action="/inregistrare" method="GET">
  <input class="button button2" type="submit" value="Inregistreaza-te">
</form>





</body>
